@import "../../../styles/base.scss";

.main-content {
  flex: 1 1 auto;
  margin-left: 2rem;
  background-color: $white;
  margin-top: 70px;
}

.header {
  font-size: 24px;
  font-weight: $medium;
  color: $black;
}

.projects {
  width: 97.5%;
  height: auto;
  border: 1px solid $gray;
}

.no-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-btn {
  height: 40px;
  color: #ffffff;
  margin-top: 0.5rem;
  background-color: $primaryBlue;
  border-color: $primaryBlue;
  border-radius: 4px;
  font-size: 12px;
  font-family: $code;
  transition: all 0.25s ease 0s;
  padding: 0rem 1rem;
  min-width: 200px;

  &:hover {
    background-color: $hoverBlue;
    border-color: $hoverBlue;
    transform: translateY(-2.5px);
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }
}

.split {
  display: flex;
}
